<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>




  <title>Exploratory Programs -clarkTech Apply</title>
</head>

<body>
  <nav id="a">
    <h4><a class="text-white text-decoration-none" href="/">clarkTech Apply</a></h4>
    <ul>
      {{#if user.is_privileged}}
      <li><a href="/approvals" style="color: #817a38">Approvals</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #817a38">
          Edits
        </a>
        <ul class="dropdown-menu">
          <li><a href="/fedits" class="dropdown-item" style="color: #000000">New-Grad</a></li>
          <li><a href="/iedits" class="dropdown-item" style="color: #000000">Internships</a></li>
          <li><a href="/ucedits" class="dropdown-item" style="color: #000000">Underclassmen</a></li>
          <li><a href="/ugedits" class="dropdown-item" style="color: #000000">Underrepresented</a></li>
          <li><a href="/epedits" class="dropdown-item" style="color: #000000">Exploratory</a></li>
        </ul>
      </li>
      {{/if}}
      <li><a id="b" href="/">Home</a></li>
      <li><a href="/tips">Tips</a></li>
      <li><a href="/myapps">MyApps</a></li>
      <li><a href="/fulltime">New-Grad</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Internships
        </a>
        <ul class="dropdown-menu">
          <li><a href="/internships" class="dropdown-item" style="color: #000000">General</a></li>
          <li><a href="/underclassmenonly" class="dropdown-item" style="color: #000000">For 1st and 2nd Years Only</a>
          </li>
          <li><a href="/underrepresented" class="dropdown-item" style="color: #000000">For Underrepresented Groups</a>
          </li>
          <li><a href="/exploratory" class="dropdown-item" style="color: #000000">Exploratory Programs</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/images/profileIconb.png" style="width: 25px; height: 25px" class="profile-image img-circle">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/settings" class="dropdown-item" style="color: #000000">Settings</a></li>
          <li><a href="/auth/logout" class="dropdown-item" style="color: #000000">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="containter mt-4">

    <div class="col-12">
      <div class="car text-center">
        <div class="p-3 mb-2 bg-warning text-white">Summer 2022 Season LIVE: Midway (~10-20 New Listings/Week)</div>
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#suggestModal">
          Suggest
        </a>
        <p></p>
        <div class="car text-center">
          <t>
            Many Companies hold 1 to 5 day Exploratory Programs the Summer, Fall, or Winter before their summer
            internship program.
            These programs can consist of various activities, usually involving workshops where you learn skills,
            seminars where you
            learn about careers/internships at the company, and often prep for interviewing with them for an internship.
            When you attend
            their exploratory program, the company is likely to prioritize your application for the internship and you
            will likely get
            guaranteed an interview. As the application process for the exploratory program is usually much more open
            and simple than for
            the full internship, this is a great way to get to interviews at a company that offers a program like this.
            Also, you
            will be able to put that you attended the Exploratory Program at X company on your resume, which looks
            really good!
          </t>
          <p></p>
          <t>
            Applying for these really can't hurt; you don't need to go through a technical interview process or
            anything, likely it'll
            just be a phone call with a recruiter, but getting admitted and attending the event will give you a huge
            leg-up for interviewing
            for the real summer internship program.
          </t>
          <p></p>
          <t>
            These programs are virtual for now, but usually they are in-person, fully paid travel and accomodations to
            and from.

          </t>
          <p></p>

        </div>
        <div class="car text-center">
          <div class="card-header">
            Browse Exploratory Programs
          </div>
          {{#if message1}}
          <h4 class="alert alert-danger mt-4 text-left">{{message1}}</h4>
          {{/if}}
          {{#if message2}}
          <h4 class="alert alert-success mt-4 text-left">{{message2}}</h4>
          {{/if}}


          <div class="modal fade" id="suggestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contribute a listing we may have missed!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/auth/suggest" method="POST">
                    <t>Role Type*</t>
                    <div class="form-group">
                      <input type="hidden" value={{user.id}} class="form-control" id="suggested_by" name="suggested_by">
                      <input type="hidden" value=3 class="form-control" id="origin" name="origin">
                    </div>
                    <div class="form-check form-check-inline" id="typeSelect">
                      <input class="form-check-input" type="radio" name="role_type" id="internshipBox" value=1 required>
                      <label class="form-check-label" for="internshipBox">
                        Internship
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="role_type" id="fulltimeBox" value=2 required>
                      <label class="form-check-label" for="fulltimeBox">
                        New-Grad
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="role_type" id="epBox" value=3 required>
                      <label class="form-check-label" for="epBox">
                        Exploratory Program/Summit
                      </label>
                    </div>
                    <p></p>
                    <div class="form-group">
                      <label for="company_name">Company*</label>
                      <input type="text" placeholder="Company Name" value="" class="form-control" id="company_name"
                        name="company_name" required>
                    </div>
                    <div class="form-group">
                      <label for="internship_title">Position Title*</label>
                      <input type="text" placeholder="Position Title" value="" class="form-control"
                        id="internship_title" name="internship_title" required>
                    </div>
                    <div class="form-group">
                      <label for="link">Link*</label>
                      <input type="text" placeholder="URL" value="" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                      <label for="international_allowed">Do they Sponser International Students?</label>
                      <input type="text" placeholder="Yes/No/tbd" value="" class="form-control"
                        id="international_allowed" name="international_allowed">
                    </div>
                    <label>Tags:</label>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="swe_web_tag" value="0">
                      <input type="checkbox" value="1" name="swe_web_tag" id="swe_web_tag">
                      <label for="swe_web_tag">SWE-Web</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="swe_backend_tag" value="0">
                      <input type="checkbox" value="1" name="swe_backend_tag" id="swe_backend_tag">
                      <label for="swe_backend_tag">SWE-Backend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="swe_mobile_tag" value="0">
                      <input type="checkbox" value="1" name="swe_mobile_tag" id="swe_mobile_tag">
                      <label for="swe_mobile_tag">SWE-Mobile</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="dsci_tag" value="0">
                      <input type="checkbox" value="1" name="dsci_tag" id="dsci_tag">
                      <label for="dsci_tag">DSCI</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="devops_tag" value="0">
                      <input type="checkbox" value="1" name="devops_tag" id="devops_tag">
                      <label for="devops_tag">DevOps</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="cyber_tag" value="0">
                      <input type="checkbox" value="1" name="cyber_tag" id="cyber_tag">
                      <label for="cyber_tag">Cyber</label>
                    </div>
                     <div class="form-check form-check-inline">
                      <input type="hidden" name="networks_tag" value="0">
                      <input type="checkbox" value="1" name="networks_tag" id="networks_tag">
                      <label for="networks_tag">Networks</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="product_tag" value="0">
                      <input type="checkbox" value="1" name="product_tag" id="product_tag">
                      <label for="product_tag">Product</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="ux_tag" value="0">
                      <input type="checkbox" value="1" name="ux_tag" id="ux_tag">
                      <label for="ux_tag">UX/HCI</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="it_tag" value="0">
                      <input type="checkbox" value="1" name="it_tag" id="it_tag">
                      <label for="it_tag">IT Analyst</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="ba_tag" value="0">
                      <input type="checkbox" value="1" name="ba_tag" id="ba_tag">
                      <label for="ba_tag">Analytics</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="hidden" name="consulting_tag" value="0">
                      <input type="checkbox" value="1" name="consulting_tag" id="consulting_tag">
                      <label for="consulting_tag">Consulting</label>
                    </div>
                    <div class="form-check">
                      <input type="hidden" name="juniors_only" value="0">
                      <input type="checkbox" value="1" name="juniors_only" id="juniors_only">
                      <label for="juniors_only">'23 Only? (will be juniors)</label>
                    </div>

                    <div class="form-check">
                      <input type="hidden" name="is_ug" value="0">
                      <input type="checkbox" value="1" name="is_ug" id="is_ug">
                      <label for="is_ug">Program for Underrepresented Groups?</label>
                    </div>

                    <div class="form-check">
                      <input type="hidden" name="is_uc" value="0">
                      <input type="checkbox" value="1" name="is_uc" id="is_uc">
                      <label for="is_uc">1st Year/Sophomore-Only Program?</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                </div>

              </div>
            </div>
          </div>

          <table id="internshipTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="th-sm">Company
                </th>
                <th class="th-sm">Program Title
                </th>
                <th class="th-sm">Eligibility
                </th>
                <th class="th-sm">Event Date
                </th>
                <th class="th-sm">Date Added
                </th>
                <th class="th-sm">Apply
                </th>
                <th class="th-sm">Track
                </th>
                <th style="width: 5%">Flag Errors</th>

              </tr>
            </thead>
            <tbody>
              {{#each jobs}}
              <tr>
                <td>{{company_name}}</td>
                <td>{{internship_title}}</td>
                <td>{{eligibility}}</td>
                <td>{{event_dates}}</td>
                <td>{{date_added}}</td>
                <td><a href={{link}} target="_blank" class="btn btn-success" role="button">Apply</a></td>
                <td>
                  <form action="/auth/track" method="POST">
                    <input type="hidden" value=3 class="form-control" id="origin" name="origin">
                    {{#if is_tracked}}

                    <button class="btn btn-info" disabled>+</button>

                    {{else}}
                    <button name="job_id" class="btn btn-success" value={{job_id}}>+</button>
                    {{/if}}
                  </form>
                </td>
                <td>
                  <img src="/images/whiteflagicon.png" type="button" data-toggle="modal"
                    data-target="#flagModal + {{job_id}}" style="width: 25px; height: 25px">

                  <div class="modal fade" id="flagModal + {{job_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Only Check/Fill the Relevent Field</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/auth/suggestCorrection" method="POST">

                            <div class="form-group">
                              <input type="hidden" value={{job_id}} class="form-control" id="job_id" name="job_id">
                              <input type="hidden" value={{link}} class="form-control" id="link" name="link">
                              <input type="hidden" value=3 class="form-control" id="origin" name="origin">
                            </div>
                            <t>------------------------------------------------------------------------</t>

                            <div class="form-check">

                              <input type="checkbox" value="1" name="is_closed" id="is_closed">
                              <label for="is_closed">Is the Link Down or Application Closed?</label>
                            </div>
                            <t>------------------------------------------------------------------------</t>
                            <p> </p>
                            <div class="form-group">
                              <label for="comments">Other Issue</label>
                              <input type="text" placeholder="Which table entry is incorrect & how did you find out?"
                                value="" class="form-control" id="comments" name="comments">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>

                        </div>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {{/each}}


            </tbody>

            <tfoot>
              <tr>
                <th class="th-sm">Company
                </th>
                <th class="th-sm">Program Title
                </th>
                <th class="th-sm">Eligibility
                </th>
                <th class="th-sm">Event Date
                </th>
                <th class="th-sm">Date Added
                </th>
                <th class="th-sm">Apply
                </th>
                <th class="th-sm">Track
                </th>
                <th style="width: 5%">Flag Errors</th>

              </tr>
            </tfoot>
            <script>
              $(document).ready(function () {
                $('#internshipTable').DataTable({
                  "order": []
                });
              });
            </script>
          </table>


        </div>
      </div>

    </div>

</body>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-dark">Built by Evan Hurst Hoffman, Clark'21
      <p>
        <a href="https://www.linkedin.com/in/evan-hoffman/" target="_blank">
          <img src="/images/linkedinIcon.png" style="width: 25px; height: 25px" class="img-thumbnail">
          <a href="https://github.com/Evan-Hoffman/Clark-Tech-Apply" target="_blank" role="button">Code</a>

      </p>
      <a class="text-dark">For Support, contact clarktechapply@yahoo.com</a>
    </a>
  </div>
</footer>

</html>