<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script> 
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script> 

    <title>Internships -clarkTech Apply</title>
</head>
<body>
    <nav id="a">
        <h4>clarkTech Apply</h4>
        <ul>
            <li><a id="b" href="/">Home</a></li>
            <li><a href="/tips">Tips</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/myapps">MyApps</a></li>
            <li><a href="/internships">Internships</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="containter mt-4">
        
        <div class="col-12">
            <div class="car text-center">
                <div class="card-header">
                    Browse Internships
                </div>
<table id="internshipTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <thead>
    <tr>
      <th class="th-sm">Company
      </th>
      <th class="th-sm">Position
      </th>
      <th class="th-sm">Date Added
      </th>
      <th class="th-sm">Apply
      </th>
      <th class="th-sm">Track
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each jobs}}
      <tr>
        <td>{{company_name}}</td>
        <td>{{internship_title}}</td>
        <td>{{date_added}}</td>
        <td><a href={{link}} target="_blank" class="btn btn-success" role="button">Apply</a></td>
        <td>  <form action="/auth/track" method="POST">
              {{#if is_tracked}}
                <button name="job_id" class="btn btn-info" disabled value={{job_id}}>+</button>
              {{else}}
                <button name="job_id" class="btn btn-success" value={{job_id}}>+</button>
                {{/if}}
              </form>
        </td>
      </tr>
    {{/each}}

   
  </tbody>

  <tfoot>
    <tr>
      <th>Company
      </th>
      <th>Position
      </th>
      <th>Date Added
      </th>
      <th>Apply
      </th>
      <th>Track
      </th>
    </tr>
  </tfoot>
  <script>
  $(document).ready(function() {
    $('#internshipTable').DataTable();
} );
</script>
</table>

                <div class="card-footer text-muted">
                    Clark Tech Apply 
                </div>
            </div>
        </div>
        
    </div>
{{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
        {{#if error}}
        <h4 class="alert alert-danger mt-4">{{error}}</h4>
        {{/if}}
</body>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-dark">Built by Evan Hurst Hoffman, Clark'21
    <p>
        <a href= "https://www.linkedin.com/in/evan-hoffman/" target="_blank">
        <img src="/images/linkedinIcon.png" style="width: 25px; height: 25px"  class="img-thumbnail">
        </p>
        <a href= "https://github.com/Evan-Hoffman/Clark-Tech-Apply" target="_blank" role = "button">Code</a>
    </a>
  </div>
</footer>
</html>