<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/browse.css">


    <title>Internships -clarkTech Apply</title>
</head>
<body>
    <nav>
        <h4>clarkTech Apply</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/internships">Internships</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="containter mt-4">
        
        <div class="col-12">
            <div class="car text-center">
                <div class="card-header">
                    Browse Internships
                </div>
<table id="internshipTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Company
      </th>
      <th class="th-sm">Position
      </th>
      <th class="th-sm">Date Added
      </th>
      <th class="th-sm">Apply
      </th>
      <th class="th-sm">Track
      </th>
    </tr>
  </thead>
  <tbody id = "test">
    {{#each jobs}}
      <tr>
        <td>{{company_name}}</td>
        <td>{{internship_title}}</td>
        <td>{{date_added}}</td>
        <td><a href={{link}} target="_blank" class="btn btn-info" role="button">Apply</a></td>
        <td>  <form action="/auth/track" method="POST">
                <button name="job_id" class="btn btn-info" value={{job_id}}>Track</button>
              </form>

      </tr>
    {{/each}}

   
  </tbody>

  <tfoot>
    <tr>
      <th>Company
      </th>
      <th>Position
      </th>
      <th>Date Added
      </th>
      <th>Apply
      </th>
      <th>Track
      </th>
    </tr>
  </tfoot>
</table>
                <div class="card-footer text-muted">
                    Clark Tech Apply 
                </div>
            </div>
        </div>
        
    </div>
{{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
        {{#if error}}
        <h4 class="alert alert-danger mt-4">{{error}}</h4>
        {{/if}}
</body>
</html>