<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



  <title>clarkTech Apply</title>
</head>

<body>
  <nav id="a">
    <h4><a class="text-white text-decoration-none" href="/">clarkTech Apply</a></h4>
    <ul>
      {{#if user.is_privileged}}
      <li><a href="/approvals" style="color: #817a38">Approvals</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #817a38">
          Edits
        </a>
        <ul class="dropdown-menu" >
          <li><a href="/fedits" class="dropdown-item" style="color: #000000">Fulltime</a></li>
          <li><a href="/iedits" class="dropdown-item" style="color: #000000">Internships</a></li>
          <li><a href="/ugedits" class="dropdown-item" style="color: #000000">Underrepresented</a>
          <li><a href="/epedits" class="dropdown-item" style="color: #000000">Exploratory</a>
          </li>
        </ul>
      </li>
      {{/if}}
      <li><a href="/">Home</a></li>
      <li><a href="/tips">Tips</a></li>
      <li><a href="/myapps">MyApps</a></li>
      <li><a href="/fulltime">Fulltime</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Internships
        </a>
        <ul class="dropdown-menu">
          <li><a href="/internships" class="dropdown-item" style="color: #000000">General</a></li>
          <li><a href="/underrepresented" class="dropdown-item" style="color: #000000">For Underrepresented Groups</a>
          </li>
          <li><a href="/exploratory" class="dropdown-item" style="color: #000000">Exploratory Programs</a>

        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/images/profileIconb.png" style="width: 25px; height: 25px" class="profile-image img-circle">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/settings" class="dropdown-item" style="color: #000000">Settings</a></li>
          <li><a href="/auth/logout" class="dropdown-item" style="color: #000000">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="containter mt-4">
    {{#if message1}}
    <h4 class="alert alert-danger mt-4 text-left">{{message1}}</h4>
    {{/if}}
    {{#if message2}}
    <h4 class="alert alert-success mt-4 text-left">{{message2}}</h4>
    {{/if}}
    <div class="card">
      <div class="card-header">
        Update my Email
      </div>
      <div class="card-body">
        <form action="/auth/updateEmail/{{user.email}}" method="POST">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" placeholder={{user.email}} id="email" name="newEmail" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Email</button>
        </form>
      </div>
    </div>

    <div class="card-header">
      Update my Name
    </div>
    <div class="card-body">
      <form action="/auth/updateName/{{user.email}}" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" placeholder={{user.name}} id="name" name="newName" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Name</button>
      </form>
    </div>
  </div>

  <div class="card-header">
    Update my Year/Role
  </div>
  <div class="card-body">



    <form action="/auth/updateYear/{{user.email}}" method="POST">
      <div class="form-group">
        <label for="grad_year">Grad Year/Faculty/Staff</label>
        <select class="form-control" id="grad_year" name="grad_year" required>
          {{#if user.grad_year}}
          <option value={{user.grad_year}}>{{user.grad_year}}</option>
          {{else}}
          <option value=0000>Faculty/Staff</option>
          {{/if}}
          <option value=0000>Faculty/Staff</option>
          <option value=2021>Winter 2020/Summer 2021</option>
          <option value=2022>Winter 2021/Summer 2022</option>
          <option value=2023>Winter 2022/Summer 2023</option>
          <option value=2024>Winter 2023/Summer 2024</option>
          <option value=2025>Winter 2024/Summer 2025</option>
          <option value=2026>Winter 2025/Summer 2026</option>
          <option value=2027>Winter 2026/Summer 2027</option>
          <option value=2028>Winter 2027/Summer 2028</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Update Year/Role</button>
    </form>
  </div>
  </div>

  <div class="card-header">
    Change my Password
  </div>

  <div class="card-body">

    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#resetModal">Reset Password</button>


    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please Input Your Email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/auth/resetemail" method="POST">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <button type="submit" class="btn btn-primary">Reset</button>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="card-header">
    Notification Preferences
  </div>
  <div class="card-body">
    <form action="/auth/toggleEmailNotifications/{{user.email}}" method="POST">
      <div class="form-check">
        <input type="hidden" name="email_consent" value="0">
        {{#if user.email_consent}}

        <input type="checkbox" value="1" name="email_consent" id="email_consent" checked>
        {{else}}
        <input type="checkbox" value="1" name="email_consent" id="email_consent">
        {{/if}}

        <label for="email_consent">Receive Occasional Emails with Advice and Platform Updates?</label>
      </div>
      <button type="submit" class="btn btn-primary">Update Notification Preferences</button>
    </form>
  </div>

  <div class="card-header">
    Delete my Account
  </div>

  <div class="card-body">

    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete my
      Account</button>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you wish to delete your account? This action is
              irreversible</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/auth/deleteAccount/{{user.id}}" method="POST">
              <button name="email" class="btn btn-danger" value={{user.email}}>Yes I Want to Delete my Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>


</body>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-dark">Built by Evan Hurst Hoffman, Clark'21
      <p>
        <a href="https://www.linkedin.com/in/evan-hoffman/" target="_blank">

          <img src="/images/linkedinIcon.png" style="width: 25px; height: 25px" class="img-thumbnail">
          <a href="https://github.com/Evan-Hoffman/Clark-Tech-Apply" target="_blank" role="button">Code</a>

      </p>
      <a class="text-dark">For Support, contact clarktechapply@yahoo.com</a>
    </a>

  </div>
</footer>

</html>